#ember-carousel {
  position: relative;
}

.carousel-parent {
  width: 1024px !important;
}

 .carousel-images {
   height: 750px;
   position: relative;
 }

.carousel-images h1 {
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
